* {
    --header-color: #4b76f3;
    --background-color: white;
    --button-color: black;
    --button-used-color: gray;
    --correct-color: #67c73d;
    --incorrect-color: #e13723;

    font-family:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}
.title {
    text-align: center;
    color: white;
    width: 100%;
    padding: 20px;
    background-color: var(--header-color);
}

#result-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    padding: 5px;
    justify-content: center;
    border-radius: 10px;
}

.start-subtext {
    background-color: var(--button-color);
    padding: 20px;
    border-radius: 7px;
    width: 250px;
    color: white;
}
.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    align-items: center;
}
.letter-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50%;
    height: 30%;
}
.letter-container span {
    display: flex;
    cursor: pointer;
    width: 70px;
    height: 70px;
    font-size: 24pt;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 1px;
    background-color: var(--button-color);
    transition: 0.2s ease-in-out;
    color: white;
}
.letter-container span:hover {
    background-color: var(--button-used-color);
}
.hang-man-container {
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#found-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}
#found-container span {
    width: 100px;
    border: 3px solid black;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 32pt;
    font-weight: bold;
    display: flex;
}

canvas {
    justify-content: center;
    display: flex;
    align-items: center;
}
.correct {
    background-color: var(--correct-color) !important;
}
.incorrect {
    background-color: var(--incorrect-color) !important;
}
.correct-text {
    color: white;
    background-color: var(--correct-color);
    font-size: 24pt;
    padding: 5px;
}
.incorrect-text {
    color: white;
    background-color: var(--incorrect-color);
    font-size: 24pt;
    padding: 5px;
}
.what-word {
    background-color: black;
    margin-bottom: 5px;
    color: white;
    padding: 10px;
    font-size: 24pt;
    width: 700px;
}
.hidden {
    display: none !important;
}
#start-container {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
}
#category-selector {
    padding: 20px;
    width: 200px;
    background-color: var(--button-color);
    border: none;
    border-radius: 7px;
    font-size: 16pt;
    color: white;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#start-button {
    padding: 20px;
    width: 200px;
    background-color: var(--button-color);
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 16pt;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.2s ease-in-out;
}
#play-again-button {
    padding: 10px;
    width: 240px;
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 7px;
    font-size: 16pt;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.2s ease-in-out;
}
#play-again-button:hover {
    background-color: var(--button-used-color);
}
#start-button:hover {
    background-color: var(--button-used-color);
}
